@import '../../styles/globals.scss';

#addFields {

    .input-container {
        display: flex;
        .form-label {
            flex-basis: 50%;
            &:first-child {
                margin-right: 1rem;
            }
        }
        fieldset {
            legend { 
                margin-left: -1rem; 
                margin-bottom: 0.75rem;
                font-weight: bold;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            width: 100%;
            text-align: left;
            border: 0;
        }
    }

    label {
        display: block;
        text-align: left;
        font-weight: bold;
    }
    #checkbox {

        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
            .checkbox-input-container {
                display: flex;
                align-items: center;
                flex-basis: 50%;
                text-align: left;
                margin-bottom: .75rem;
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                    +span {
                        cursor: pointer;
                        font-size: 16px;
                        color: $strong-blue;
                        &:before {
                            content: '';
                            border: 2px solid $strong-blue;
                            border-radius: $border-radius;
                            display: inline-block;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 0.75rem;
                          }
                    }
                    &:checked {
                        +span:before {
                            background-image: url('../../images/illustrations/svg/x.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            /* The size of the checkmark icon, you may/may not need this */
                            background-size: auto;
                            // border-radius: 4px;
                            background-color: $lighter-blue;
                            color: white;
                        }
                    }
                }

                label {
                    display: block;
                    font-weight: normal;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    &:hover { cursor: pointer; }
                }
            }
        }
    }

}
