@import '../../styles/globals.scss';

.mainContact {

    padding: $top-margin;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: 0px 0px 1px 3px $lighter-blue;
    margin-top: $top-margin;

    input, textarea, button { 
        margin: 1rem 0;
        font: inherit;
        font-weight: normal; 
    }
    
    input, textarea {
        border: 2px solid $light-blue;
        background: $lighter-blue;
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem; 
    }

    input:focus,
    textarea:focus {
        outline-color: $bright_orange;
        outline-width: 2px;
        border-color: transparent;
    }

    button {
        margin: $vertical-rhythm auto $top-margin;
        padding-left: $vertical-rhythm;
        padding-right: $vertical-rhythm;
        display: block;
        font-weight: bold;
    }

    .form_label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    &.plusAddFields {
        .input_container {
            display: flex;
            .form_label {
                flex-basis: 50%;
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }

}