@import "../../styles/globals.scss";

// $offset: 21.875rem;

/** hero banner */
.hero-banner {
    
    height: calc(100vh + 4.5rem);
    // background-image: url('../../images/fog_overlay.png');
    // , url('../../images/homepage_mobile.png');
    // background-image: url('../../images/homepage_mobile.png');
    // background-position: bottom center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-origin: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;

    .hero-image {
        position: absolute !important;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    .hero-text-container {

        position: relative;
        margin: 0 auto 5rem;
        max-width: $content-width;
        text-align: center; 
        @extend .heading-2;

        > p {
            margin-bottom: 7rem;
        }
        
        #rotatingWord {
            display: flex;
            justify-content: center;
            .word {
                position: absolute;
                display: block;
                // border: $border;
            }
        }

    }
    
}

@media screen and (min-width: $mobile-breakpoint) {

    .hero-banner {
        // background-image: url('../../images/fog_overlay.png');
        // , url('../../images/homepage.jpeg');
        // background-position-x: right;

        .hero-text-container {
            // font: initial;
            font: $heading-1;
        }

    }
    
}