@import "../../styles/globals.scss";

/* list point styles */
.list {
    margin-bottom: $vertical-rhythm;
}
.list_point_container {
    background-color: white;
    @extend .cardStyles;
    padding: $margin-bottom $top-margin;
    position: relative;
    z-index: 1;
}

.hasBgImg {
    position: relative;
    .bg_img {
        position: absolute;
        top: 6rem; right: 0; bottom: 0; left: 0;
        &.bg_img__trail {
            background: url('../../images/illustrations/svg/trail_contact_mobile.svg') no-repeat;
            background-size: contain;
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .hasBgImg {
        .bg_img {
            top: 0; right: 0; bottom: 0; left: 0;
            &.bg_img__trail {
                background: url('../../images/illustrations/svg/trail_contact_mobile.svg') no-repeat;
                &.bg_img__trail--reverse {
                    transform: scaleX(-1);
                }
            }
            
        }
    }
    
}


// .bg_img {
//     height: 100%;
//     width: 100%;
//     position: relative;
//     background-size: contain;
//     z-index: -1;
//     &.bg_img__trail {
//         background: url('../../images/illustrations/svg/compass.svg') no-repeat;
//         background-position: bottom left 0;
//         background-origin: border-box;
//     }
//     &.bg_img__trail--reverse {
//         transform: scaleX(-1);
//     }
// }

