@import "../../styles/globals.scss";

.page-banner {

    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    @extend .heading-1;
    text-transform: capitalize;
    padding: 2.25rem 0;

    &.about {
        background: url('../../images/about_header.jpg') 0%/cover no-repeat;
    }
    
    &.portfolio {
        background: url('../../images/portfolio_header.jpeg') 0%/cover no-repeat;
    }

    &.web-services {
        background: url('../../images/services_header.jpeg') center 10%/cover no-repeat;
    }

    &.blog {
        background: url('../../images/blog_header.jpeg') 0%/cover no-repeat;
    }

    &.contact {
        background: url('../../images/contact_header.jpeg') 0%/cover no-repeat;
    }

}