@import "../../styles/globals.scss";

#quoteCarousel {
    margin-bottom: $vertical-rhythm;
    .inner-container {
        max-width: $content-width;
        margin: 0 auto;  
        @extend .quotes-text;
        text-align: center;   
        padding: $content-padding;
    }

}