@import "../../styles/globals.scss";

#quoteCarousel {

    margin: $top-margin auto $vertical-rhythm;
    // margin-bottom: $vertical-rhythm;
    max-width: 90%;   
    text-align: center;

    .innerContainer {
        @extend .quotes-text;
        .quote {
            width: auto;
            margin-bottom: $margin-bottom;
            &::before {
                content: "\201C";
                display: inline-block;
            }
            &::after {
                content: "\201D";
                display: inline-block;
                white-space: nowrap;
            }
        }
        .author {
            @extend .normal-text;
            text-align: center;
            &::before {
                content: '\2014';
                display: inline-block;
                margin-right: 10px;
            }
        }
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    #quoteCarousel {
        max-width: $content-width;
    }
}