@import "../../styles/globals.scss";

.slideContainer {
    width: 100%;
    position: relative;
    margin: $top-margin 0 $vertical-rhythm;
    
    /* overwrites react-carousel styles: https://github.com/leandrowd/react-responsive-carousel */
    .carousel {
        .slide {
            background-color: $white;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }
        .control-dots .dot {
            background-color: $strong-blue;
        }
        .carousel-status {
            display: none;
        }
        &.carousel-slider {
            .control-arrow {
                opacity: 1;
                border-radius: $border-radius;
                &:hover { background: $strong-blue-alpha; }
                &.control-prev,
                &.control-next {
                    &::before {
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 100%;
                        border: none;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.control-prev::before {
                    background-image: url("../../images/illustrations/svg/Arrows/arrow_left.svg");
                }
                &.control-next::before {
                    background-image: url("../../images/illustrations/svg/Arrows/arrow_right.svg");
                }
            }
        }
    }

    .slide {
        text-align: center;
        padding: $top-margin;
        .heading, 
        .body, 
        .cite + a {
            display: block;
            margin-bottom: 1rem;
        }
        .heading { 
            margin-top: 1rem; 
            text-transform: capitalize;
        }
        .body { @extend .small-text; }
        .cite {
            font-weight: bold;
            @extend .normal-text;
            + a {  text-decoration: underline; }
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .slideContainer {
        width: 36rem;
        margin: 0 auto;
    }
    #testimonials {
        box-sizing: border-box;
        padding: 2.25rem .75rem;
        position: relative;
        overflow: visible;
        &::after {
            content: '';
            display: block;
            background: url('../../images/illustrations/svg/compass.svg') no-repeat;
            background-position: 100% 0;
            background-size: 25rem;
            padding-bottom: 9rem;
            height: 100%;
            width: 100%;
            position: absolute;
            right: -5%;
            bottom: 0;
            margin-top: -10rem;
            z-index: -111;
        }
    }
}