@import "./globals.scss";

.page-banner {

    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    &.blog {
        background: url('../images/blog_header.jpeg') 0%/cover no-repeat;
    }

}