/**
 * Theme colors
 */
 $strong-blue: #27688E;
 $grayish-red: #63494B;
 $light-green: #66BA86;
 $bright-orange: #E5AD3E;
 $bluish-white: #F4F7F8;
 $white: #FFFFFF;
 $lighter-blue: #F1F9FF;
 
 /**
  * Secondary / Services colors
  */
 $light-blue: #49C5DE;
 $web-maintenance: $bright-orange;
 $pale-purple: #DEC1FF;
 $fresh-light-green: #6BE8AA;
 $light-green: #66BA86;
 
 /**
  * Aliases 
  */
 $background: $white;