/**
 * Theme colors
 */
 $strong-blue: #27688E;
 @value strong-blue: $strong-blue;
 $grayish-red: #63494B;
 $light-green: #66BA86;
 $bright-orange: #E5AD3E;
 $bluish-white: #F4F7F8;
 $white: #FFFFFF;
 $light-blue: #49C5DE;
 $lighter-blue: #F1F9FF;
 
/**
 * Secondary / Services colors
 */
$digitalMarketing: #6BE8AA;
$development: #DEC1FF;
$design: $bright-orange;
$SEO: #49C5DE;
$consulting: #66BA86;

 /**
  * Aliases 
  */
 $background: $white;