/**
 * Styles for site-wide forms 
 *
 * Updated Jan 3rd, 2021
 */
.contact_form {
    input, textarea, button { 
        margin: 1rem 0;
        font: inherit;
        font-weight: normal; 
    }
    input, textarea {
        border: 2px solid $light-blue;
        background: $lighter-blue;
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem; 
    }
    input:focus,
    textarea:focus {
        outline-color: $bright_orange;
        outline-width: 2px;
        border-color: transparent;
    }
    button {
        margin: $vertical-rhythm auto $top-margin;
        padding-left: $vertical-rhythm;
        padding-right: $vertical-rhythm;
        display: block;
        font-weight: bold;
    }
    .form_label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    &.plusAddFields {
        .input_container {
            display: flex;
            .form_label {
                flex-basis: 50%;
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }

    &.lead_gen_form {
        color: $white;
        position: relative;
        button {
            margin-left: 0;
            margin-top: $top-margin;
        }
        input {
            border: none;
        }
        &.lead_gen_form__sidebar {
            box-shadow: -1px 1px 5px 3px $box-border;
            padding: $top-margin;
            background-color: $light-green;
            width: 100%;    
            margin-top: $vertical-rhythm; 
            order: 1;  
        }
        
    }

}
.lead_form--aside {
    // width: 33%;
    min-width: 21rem;
    // margin-left: $margin-bottom;
    // float: right;
    order: 1;
}

@media screen and (min-width: $mobile-breakpoint) {
    .lead_form--aside {
        width: 33%;
        min-width: 21rem;
        margin-left: $margin-bottom;
        margin-bottom: $margin-bottom;
        float: right;
    }
    .contact_form {
        &.lead_gen_form {
            padding: $top-margin;
            form.full_width .input_container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                label {
                    flex-basis: 48%;
                }
            }
            &.lead_gen_form__sidebar {
                // width: 40%;
                // float: right;
                // margin-left: $margin-bottom;
                // margin-top: $margin-bottom;
                margin-top: 0;
            }
        
        }    
    }

}