@import "./globals/colors.scss";
@import "./globals/type.scss";

$mobile-breakpoint: 769px;

$top-margin: 2.25rem;
$vertical-rhythm: 4.5rem;
$section-padding: $top-margin 0 $vertical-rhythm;

$border-radius: 4px;
$box-shadow: 3px 3px 30px #E5E7E8;

$content-width: 70%;
$margin-bottom: 0.75rem;
$content-padding: $top-margin .75rem;

$content-width-blog: 72%;
$hero-width: 66%; 
$header-width: $hero-width;

$blogBannerHeight: 26rem;

:global {
    .cardStyles {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: $top-margin;
        margin-top: $top-margin;
    }
}

.content-width {
    max-width: $content-width;
    margin: 0 auto;
  }

html {

    font: normal 80% Montserrat, sans-serif;
    background-color: $bluish-white;
    color: $strong-blue;

    * { box-sizing: border-box; }
    body {  margin: 0; }

    a {
        text-decoration: none;
        color: $strong-blue;
    }

    main.blog-post {
        a[href] {
            text-decoration: underline;
        }
    }

    img[src*=".svg"] {
        max-height: 100%;
        max-width: 1rem;
    }

    figure { 
      margin: 0 auto; 
      img {
          height: auto;
          max-width: 100%;
      }
    }

    input, textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-color: transparent;
      border-radius: $border-radius;
      padding: .25rem .5rem;
    }

    /* style COLOR of placeholder text on input fields */
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $white;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $white;
    }

}

@import "./theme-styles/buttons.scss";

/**
 * Helper Classes 
*/
/* accessibility */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.hidden {display:none;}

/**
 * Helper & Misc styles
 */
/* debug border */
$border: 1px solid red;