

@import "./colors.scss";

$vertical-rhythm: 2rem;
$content-width: 50rem;
$mobile-breakpoint: 769px;

/**
 * Typography
 */
h1,
.heading-1 {
    font: bold 80pt/97pt Montserrat, sans-serif, 
}
h2,
.heading-2 {
    font: bold 50pt/60pt Montserrat, sans-serif, 
}
h3,
.heading-3 {
    font: bold 25pt/35pt Montserrat, sans-serif, 
}
h4,
.heading-4 {
    font: bold 20pt/24pt Montserrat, sans-serif, 
}
h5,
.heading-5 {
    font: bold 16pt/20pt Montserrat, sans-serif, 
}

.big-text {
    font: normal 25pt/35pt Montserrat, sans-serif;
}
.normal-text {
    font: normal 20pt/24pt Montserrat, sans-serif;
}
.normal-text-italic {
    font: italic 20pt/24pt Montserrat, sans-serif;
}
.small-text {
    font: italic 16pt/20pt Montserrat, sans-serif;
}

/**
 * Buttons
 */
.primary-button {
    background-color: $bright-orange;
    color: $white;
    &:hover {
        background-color: $strong-blue;
    }
}

.secondary-button {
    outline: $white;
    color: $white;
    &:hover {
        outline: $bright-orange;
        color: $bright-orange;
    }
}

.small-button {
    background-color: $white;
    color: $bright-orange;
    &:hover {
        background-color: $bright-orange;
        color: $white;
    }
}

/**
 * Helper Classes 
*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.clear-left { clear: left; }

.clear-right { clear: right; }

.alignright {
    float: right;
    padding: 0 0 1rem 1rem;
}