@import "./colors.scss";
@import "./type.scss";

$vertical-rhythm: 2rem;
$content-width: 60rem;
$mobile-breakpoint: 769px;
$border-radius: 4px;

html {
    font: normal 100% Montserrat, sans-serif;
    a {
        text-decoration: none;
        color: $strong-blue;
    }
}

input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: $border-radius;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
  }

@import "./buttons.scss";


/**
 * Helper Classes 
*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.clear-left { clear: left; }

.clear-right { clear: right; }

.alignright {
    float: right;
    padding: 0 0 1rem 1rem;
}

$border: 1px solid red;