@import "./globals.scss";

/** hero banner */
.hero-banner {
    
    height: calc(100vh - 80px);
    background: url('../images/air-triangulated.jpg') bottom center/cover no-repeat $background-color;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 2rem;

    .hero-text-container {
        // margin: 0 auto;
        // max-width: $content-width;
        // position: relative;
        // border: 1px solid block;
        // overflow: hidden;
        // border: 2px solid #333;

        p {
            line-height: $line-height;
        }

        .word {
            border: 1px solid black;
            position: absolute;
            min-width: 170px;

            // float: left;
            // opacity: 1;
        }

        .keyword-container {
            // display: inline-block;
            // min-width: 170px;
            // position: relative;
            // border: 2px solid white;
            // overflow: hidden;
        }

        
    }

    
}