@import "./globals.scss";


#mainContent {

    padding-bottom: $vertical-rhythm;
    overflow: hidden;
    position: relative;

    .page-inner {
        margin-bottom: $vertical-rhythm;
    }

    .page-banner {
        margin-top: 4.5rem;
    }

    .page-content {

        @extend .content-width;
        display: flex;
        flex-wrap: wrap;
        padding-top: $top-margin;
        position: relative;

        figure,
        .highlight {
            position: relative;
            z-index: 1;
        }

        .highlight {
            @extend .heading-2;
            flex: 0 0 100%;
            order: -1;
            width: $header-width;
        }

        .hero-image { 
            order: 1; 
            margin: 0 auto;
            padding: 0 1rem;
        }

        figure { 
            margin: 0 auto; 
            img {
                height: auto;
                max-width: 100%;
            }
        }

        .page-content-para {
            padding: 1rem 0;
            flex-basis: 100%;
            @extend .normal-text;
            p:last-child {
                display: inline-block;
            }
        }

        &.home {
            padding-bottom: $vertical-rhythm * 2;
            transform: translateZ(0);
            &::after {
                content: '';
                display: block;
                background: url('../images/illustrations/svg/compass.svg') no-repeat;
                background-position: 105% bottom;
                background-size: 16rem;
                padding-bottom: 4.5rem;
                height: 16rem;
                width: 16rem;
                position: fixed;
                right: -9rem;
                bottom: -2.5rem;
                z-index: -111;
                transform: rotate(10deg);
            }
        }

        &.about {

            padding: 0;
            .highlight { 
                padding: $content-padding;
            }
            .bg-underlay {
                position: relative;
                flex: 2 1 100%;
                padding-bottom: 9rem;
                margin-top: -13rem;
                background: url('../images/logo/Logo_white.svg') center/cover no-repeat;
                .page-content-para {
                    margin-top: 13rem;
                }
                // &::after {
                //     content: '';
                //     background: url('../images/logo/Logo_white.svg') center/cover no-repeat;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     position: absolute;
                //     height: 100%;
                //     width: 100%;
                //     z-index: -1;
                //     padding: 8.5rem 0;
                //     margin-top: -8.5rem;
                // }
                p {
                    padding: $content-padding;
                }
                p:last-child {
                    display: inline-block;
                }
            }
            
            @media screen and (min-width: $mobile-breakpoint) {
                .bg-underlay {
                    flex: 1;
                }
                figure {
                    padding: 0 $vertical-rhythm;
                    
                }
                
            }
        }

        .button {
            width: auto;
        }

    }

    .blog-content-container {
        &:first-of-type {
            padding-bottom: 0;
        }
    }

    @media screen and (min-width: $mobile-breakpoint) {
        .page-content {
            
            .hero-image {
                order: initial;
            }

            .highlight { 
                p {
                    width: 77%;
                }
            }

            .page-content-para {
                flex: 2;
                p { padding: $content-padding; }
            }

            
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .page-content {
            &.home {
                &::after {
                    content: '';
                    display: none;
                }
            }
        }
    }
}