@import "./globals.scss";

main {

    figure,
    .heroText {
        position: relative;
        z-index: 1;
    }

    .heroImage {
        border: $border;
        padding: $margin-bottom;
    }

    .heroText {
        @extend .heading-2;
        flex: 0 0 100%;
        order: -1;
        width: 100%;
        margin: 0;
    }

    .heroBody {
        padding: 1rem 0;
        flex-basis: 100%;
        margin: 0 auto;
        p:last-child {
            display: inline-block;
        }
    }

    .blog-inner-container {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-content-container {
        box-sizing: border-box;
        padding: 0 0 $top-margin;
        + .blog-content-container {
            padding-top: 0;
        }
        
    }

    .contact {
        width: 100%;
        padding: 0 0 $vertical-rhythm;
    }

    &.home {
        .home {
            position: relative;
            width: 100%;
            padding: 0;
            .heroText { margin: 0; }
            .heroImage { order: 1; }
            .heroButton {
                width: 100%;
                flex-basis: 100%;
            }   
            &::after {
                content: '';
                display: block;
                background: url('../images/illustrations/svg/compass.svg') no-repeat;
                background-position: 100% bottom;
                background-size: 19rem;
                padding-bottom: 9rem;
                height: 100%;
                width: 100%;
                position: fixed;
                right: -5%;
                bottom: 1%;
                z-index: -111;
                // transform: rotate(10deg);
                display: none;
            }
        }
        
    }

    // &.about

    &.blog {
        .blog-content-container {
            padding: $content-padding;
        }
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    main {

        .heroText { width: $hero-width; }
        
        .blog-content-container {
            width: $content-width;   
            margin: 0 auto;     
        }

        &.home {
            .home {
                position: relative;
                .heroImage { order: initial; }
                .heroBody { 
                    flex: 2;
                    padding: $content-padding; 
                }
                &::after {
                    display: block;
                }
                
            }
        }

    }
}

#mainContent {

    &.services-home {

        .web-services {
            
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @extend .normal-text;

        

        }
    }

    @media screen and (min-width: $mobile-breakpoint) {

        &.home {
            // .page-content {
            //     width: $content-width;
            //     .highlight p { margin-bottom: $top-margin; }
            //     transform: translateX(0);
            //     &.peak-websites::after {
            //         display: block;
            //     }
            // }
        }

        .page-content {
            
            // .hero-image { order: initial; }
            // .highlight p {  width: 77%; }

            // .page-content-para {
            //     flex: 2;
            //     p { padding: $content-padding; }
            // }

            // &.web-services {
            //     .service-card {
            //         flex-basis: 30%;
            //     }
            // }

        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        // .page-content {
        //     &.home {
        //         &::after {
        //             content: '';
        //             display: none;
        //         }
        //     }
        // }
    }

}

.page-content {
   
    &.about {

        display: flex;
        flex-wrap: wrap;

        .highlight { 
            padding: $content-padding;
        }
        .bg-underlay {

            position: relative;
            flex: 2 1 100%;
            padding-bottom: 9rem;
            margin-top: -9rem;
            background: url('../images/logo/Logo_white.svg') center/cover no-repeat;

            .page-content-para {
                margin-top: 13rem;
            }
            
            p { padding: $content-padding; }
            p:last-child { display: inline-block; }

        }
        
        @media screen and (min-width: $mobile-breakpoint) {

            .bg-underlay {
                flex: 1;
            }
            figure {
                padding: 0 $vertical-rhythm;
                
            }
            
        }
    }

}