@import "./globals.scss";

main {
    overflow: hidden;
    .heroImage {
        padding: 0 $top-margin;
        margin: $top-margin 0 ;
        height: 100%;
    }

    .heroText {
        @extend .heading-2;
        flex: 0 0 100%;
        order: -1;
        width: 100%;
        margin: 0;
        background-color: transparent;
    }

    .heroBody {
        flex-basis: 100%;
        margin: 0 auto;
        .heroBody { padding: 0; }
    }

    .home, .about {
        position: relative;
        // width: 100%;
        .heroText { margin: 0; }
        .heroImage { order: 1; }
        .heroButton {
            > a { color: inherit}
        }   
    }

    #pageContent.home {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #pageContent.about {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100%;
            z-index: -11;
            background-image: url('../images/logo/Logo_white.svg');
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
        } 
    }

    &.service-page {
        #pageContent {
            a[href] {
                text-decoration: underline;
            }
        }
    }

    &.page-404 {
        margin-top: $vertical-rhythm;
        background-image: linear-gradient(0deg, rgba(39, 104, 142, 0.486) 3%, rgba(73, 197, 222, 0.493) 97%), url('../images/404-min.jpeg');
        background-size: cover;
        background-position: 55% center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $vertical-rhythm 0;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: $top-margin 0 $vertical-rhythm;
            color: $white;
            .heading, .sub-heading {
                text-align: center;
                flex-basis: 100%;
                width: auto;
            }
            .heading {
                font-size: 1200%;
                margin: 0;
                margin-bottom: $vertical-rhythm;
            }
            .sub-heading {
                margin-top: 0;
            }
        }
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    main {

        .heroText { 
            width: $hero-width;
            padding-right: 33%;
        }

        .home, .about {
            position: relative;
            // width: auto;
            .heroText { flex-basis: 100%; }
            .heroImage { order: initial; }
            .heroBody { flex: 2; }               
        }

        #pageContent.home {
            &::after {
                display: block;
            }
        }

        #pageContent.about {
            position: relative;
                position: relative;
                &::before {
                    left: 60%;
                }
            
        }

        &.page-404 {

            background-position: center;
            div {
                width: $hero-width;
            }
        }
        
    }
}