@import "./globals.scss";

/**
 * these styles pertain to blog content i.e: main class="blog-post"
 */
.blog_post {

    .blog_byline {
        font: $heading-4;
        font-style: italic;
    }

    p > a,
    .wp-block-quote cite a,
    .wp-block-pullquote a {
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .wp-block-quote,
    .wp-block-pullquote {
        border-left: 2px solid $light-green;
        padding-left: $top-margin;
        margin: $vertical-rhythm 0 $vertical-rhythm 1rem;
        p { @extend .big-body-text }
        cite {
            &::before {
                content: '\2014';
                display: inline-block;
                margin-right: 10px;
            }
        }
        blockquote { margin: 0; }
    }

    .wp-block-image,
    .wp-block-embed {
        figcaption {
            @extend .small-text;
            text-align: center;
            a { 
                text-decoration: underline;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .wp-block-image {
        &.size-large { text-align: center; }
        figcaption { @extend .theme_figcaptions; }
    }

    figure.wp-block-embed { 
        text-align: center; 
        iframe { max-width: 640px }
    }

    figure {
        width: 100% !important;
        // border: 2px solid $strong-blue-alpha;
        margin-bottom: 0.25rem;
        padding: 0.25rem;
        text-align: center;
        figcaption {
            font: $footer-text;
            font-style: italic;
            a {
                text-decoration: underline;
            }
        }
    }

    pre {
        background-color: $strong-blue-alpha;
        padding: 1rem;
    }

    a {
        text-decoration: none;
    }

}


@media screen and (max-width: $mobile-breakpoint) {
    figure.wp-block-embed { 
        iframe { width: 100% }
    }
}
    
.blog_section {
    padding: $content-padding;
    .blog_section__inner {
        .blog_post {
            .blog_post__excerpt {
                // padding-top: $margin-bottom;
            }
        }
    }
    .blog_post {
        padding-bottom: $top-margin;
        &.blog_post__callout {
            .blog_post__callout--blog_post {
                color: $white;
                .blog_post--heading {
                    color: white;
                }
            }
        }
        .blog_post__featured_image_container {
            position: relative;
            height: 22rem;
        }
    }
}


#blogIndex {
    a {
        text-decoration: none;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .blog_section {
        .blog_post {
            .blog_post__featured_image_container {
                height: $blogBannerHeight;
            }
        }
    }
    
    #featuredPost.blog_section {}
    #blogIndex.blog_section {
        .blog_section__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .blog_post {
            width: calc(33% - 1rem);
        }
    }
}