@import "./globals.scss";

.blogSectionContainer {
    width: 100%;
    box-sizing: border-box;
    .blogInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &.blogSectionCallout {
        background-color: $light-green;
        padding: $content-padding;
        padding-bottom: $vertical-rhythm;
    }
    .calloutBtn { }
}

@media screen and (min-width: $mobile-breakpoint) {
    .blogSectionContainer {
        &.blogSectionCallout {
            .blogInner {
                max-width: $content-width;
                margin: 0 auto;
            }
        }
        
    }
}

// .blog-inner-container {
//     display: flex;
//     flex-wrap: wrap;
// }

// .blog-content-container {
//     box-sizing: border-box;
//     padding: 0 0 $top-margin;
//     + .blog-content-container {
//         padding-top: 0;
//     }
// }