/**
 * Typography
 */
html, body {
    font-family: Montserrat, sans-serif;
}

$heading-1: bold 5rem/6.0625rem Montserrat, sans-serif;
$heading-2: bold 3.125rem/3.75rem Montserrat, sans-serif;
$heading-3: bold 1.5625rem/2.1875rem Montserrat, sans-serif;
$small-text: normal 1rem/1.25rem Montserrat, sans-serif;

h1,
.heading-1 {
    font: bold 5rem/6.0625rem Montserrat, sans-serif; 
}
h2,
.heading-2 {
    font: bold 3.125rem/3.75rem Montserrat, sans-serif; 
}
h3,
.heading-3 {
    font: bold 1.5625rem/2.1875rem Montserrat, sans-serif; 
}
h4,
.heading-4 {
    font: bold 1.25rem/1.5rem Montserrat, sans-serif; 
}
h5,
.heading-5 {
    font: bold 1rem/1.25rem Montserrat, sans-serif; 
}

.byline-text {
    @extend .heading-3;
}

/**
 * Body text 
 */
.big-body-text {
    font: normal 1.5625rem/2.1875rem Montserrat, sans-serif;
}
.normal-text {
    font: normal 1.25rem/1.75rem Montserrat, sans-serif;
}
.normal-text-italic {
    font: italic 1.25rem/1.75rem Montserrat, sans-serif;
}
.small-text {
    font: normal 1rem/1.25rem Montserrat, sans-serif;
}

/**
 * Special text
 */
.mini-text {
    font: normal 0.625rem/0.85rem Montserrat, sans-serif;
}
.footer-text {
    font: normal 0.85rem/1rem Montserrat, sans-serif;
}
.quotes-text {
    font: italic 300 3.125rem/3.75rem Montserrat, sans-serif;
}