@import "../../styles/globals.scss";

#siteFooter {

    background-image: url('../../images/webp/footer.webp');
    background-size: cover;
    color: $white;
    padding: $vertical-rhythm 0;
    background-position: center right;
    background-origin: border-box;
    padding-top: 28rem;
    
    .innerContainer {
        
        p { margin: 0; }
        a { color: $white;
            &:hover {
                color: $bright-orange;
            } 
        }

    }

    .flexContainer {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: $content-padding;

        .footerItem {
    
            @extend .footer-text;
            flex: 1 1 auto;
            padding: 0.75rem 0;

            /* address */
            > span { display: block; }
            > ul {
                padding: 0;
                list-style-type: none;
                li {
                    display: block;
                    a {
                        display: flex;
                        align-items: center;
                        span:first-child {
                            flex: 0 0 2rem;
                            text-align: center;
                            margin-right: 0.5rem;
                            img {
                                max-height: 0.75rem;
                                width: auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
    
            /* secondary logo */
            > img {
                width: 4rem;
                height: auto;
                + p { @extend .mini-text; }
            }    
            
        }
    }
    
}

@media screen and (min-width: $mobile-breakpoint) {
    #siteFooter {
        padding-top: 20rem;
        .flexContainer {
            max-width: $content-width;
            margin: 0 auto;
        }
    }
}