@import '../../styles/globals.scss';

#siteHeader {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    z-index: 1000;
    
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $content-width;
        margin: 0.25rem auto;
    }

    #siteLogo {
        width: 100%;
        height: auto;
        // max-width: 30%;
    }

    #menuToggleBtn {
        padding: .5rem;
        align-self: center;
        &:hover {
            cursor: pointer;

        }
    }

    @media screen and (min-width: $mobile-breakpoint) {
        #menuToggleBtn {
            display: none;
        }
    }

}