@import '../../styles/globals.scss';

#siteHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    z-index: 1000;
    #headerInnerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.25rem $margin-bottom;
    }
    #siteLogo {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    #siteHeader {
        #headerInnerContainer {
            width: $content-width;
            margin: 0.25rem auto;
        }
    }
}