@import "../../styles/globals.scss";

.pageContent {

    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: $content-padding;
    padding-bottom: $vertical-rhythm * 2;
    @extend .normal-text;  
    transform: translateX(0); /* this style is a hack for psuedo elements // TODO: find source! */

    .pageContentInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $content-padding;
    }

}

.blogContent {
    composes: pageContent;
    margin-top: 14rem;
}

@media screen and (min-width: $mobile-breakpoint) {
    .pageContent {
        // width: $content-width;
        .pageContentInner {
            width: $content-width;
            margin: 0 auto;
            justify-content: flex-start;
        }
    }
}