@import "../../styles/globals.scss";

// .headerContainer {
//     max-width: 66%;
// }

.page_banner {

    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    @extend .heading-2;
    text-transform: capitalize;
    text-align: center;
    margin-top: $vertical-rhythm;
    height: 20rem;
    /* default bg image */
    background: url('../../images/about_header-min.jpg') center/cover no-repeat;

    .page_banner--header {
        font: inherit;
    }

    &.page_banner__post {
        background-color: $white;
        color: $strong-blue;
        display: block;
        margin-bottom: $vertical-rhythm * 2;
        position: relative;
        .page_banner--post {
            position: relative;
        }
    }
    
    &.about {
        background: url('../../images/about_header-min.jpg') center/cover no-repeat;
    }
    
    &.portfolio {
        background: url('../../images/portfolio_header.jpeg') 0%/cover no-repeat;
    }

    &.services {
        background: url('../../images/services_header-min.jpeg') center 10%/cover no-repeat;
    }

    &.blog {
        background: url('../../images/blog_header-min.jpeg') 0%/cover no-repeat;
    }

    &.contact-us {
        background: url('../../images/contact_header-min.jpeg') 0%/cover no-repeat;
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    .page_banner {
        font: $heading-1;
        &.page_banner__post {
            margin-bottom: 18rem;
            .page_banner--post {
                width: $content-width;
                margin: 0 auto;
            }
        }
    }
}