@import "../../styles/globals.scss";

.pageContent {
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    // margin: 0 auto;
    // padding: .75rem 0 $vertical-rhythm;
    // @extend .normal-text;  
    transform: translateX(0); /* this style is a hack for psuedo elements // TODO: find source! */
    // margin-bottom: $vertical-rhythm;
    .pageContentInner {

        &.hasFeaturedImage {
            p {
                flex-basis: 100%;
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    &.category {
        @extend .normal-text-italic;
        padding: $content-padding;
        a:hover {
            text-decoration: underline;
        }
    }   

}

@media screen and (min-width: $mobile-breakpoint) {

    .pageContent {
        .pageContentInner {
            &.hasFeaturedImage {
                display: block;
            }
        }

        &.servicePage {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        &.contactUs {
            width: 100%;
        }

        &.category {
            width: $hero-width;
        }

    }
}