@import '../styles/globals.scss';

#mainContactForm {

    text-align: center;
    background: url('../images/illustrations/svg/trail_contact_mobile.svg') no-repeat;
    background-size: contain;
    background-position: 88% 43%;
    @extend .content-padding-section;

    > div {
        @extend .content-padding;
    }

    p.heading { margin-bottom: 0; }
    p.sub-heading { @extend .normal-text; }

    

    @media screen and (min-width: $mobile-breakpoint) {
        background: url('../images/illustrations/svg/trail_contact_desktop.svg') center/100% no-repeat;
        padding-bottom: 9.5rem;

        p.sub-heading { font-weight: bold; }
    }

}