@import "../styles/globals.scss";

#siteFooter {

    background-image: url('../images/footer.png');
    background-position: 100%;
    color: $white;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;

    p { margin: 0; }

    a { 
        color: $white;
        &:hover {
            color: $bright-orange;
        } 
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        /* address */
        > span {
            display: block;
        }
        > ul {
            padding: 0;
            list-style-type: none;
            li {
                display: block;
                a {
                    display: flex;
                    align-items: center;
                    span:first-child {
                        flex: 0 0 2rem;
                        text-align: center;
                        margin-right: 0.5rem;
                        img {
                            max-height: 0.75rem;
                            width: auto;
                            text-align: center;
                        }
                    }
                }
            }
        }

        /* secondary logo */
        > img {
            width: 4rem;
            height: auto;
            + p {
                font-size: 0.625rem;
            }
        }

        /* input */
        #footerNewsletter {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 0.65rem;
            input {
                width: 70%;
                background: transparent;
                border: 1px solid $white;
                border-radius: $border-radius;
                font-size: inherit;
                padding-left: .5rem;
            }
            button {
                font-size: .5rem;
            }
        }
        

        &:first-child {
            flex: 0 0 100%;
        }
        &:nth-child(2) {
            flex: 0 0 15%;
        }
        &:not(:first-child) {
            height: 6rem;
        }
    }
    
    

}