@import "../styles/globals.scss";

#siteFooter {

    background: url('../images/footer.png') 100%;
    background-size: cover;
    color: $white;
    padding: $vertical-rhythm 0;
    background-position-y: 60%;
    padding-top: 28rem;
    
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        width: $header-width;
        margin: 0 auto;
    }

    p { margin: 0; }

    a { 
        color: $white;
        &:hover {
            color: $bright-orange;
        } 
    }

    .footer-item {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        @extend .footer-text;

        /* address */
        > span {
            display: block;
        }
        > ul {
            padding: 0;
            list-style-type: none;
            li {
                display: block;
                a {
                    display: flex;
                    align-items: center;
                    span:first-child {
                        flex: 0 0 2rem;
                        text-align: center;
                        margin-right: 0.5rem;
                        img {
                            max-height: 0.75rem;
                            width: auto;
                            text-align: center;
                        }
                    }
                }
            }
        }

        /* secondary logo */
        > img {
            width: 4rem;
            height: auto;
            + p {
                @extend .mini-text;
            }
        }

        /* newsletter */
        #footerNewsletter {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 0.5rem;
            @extend .mini-text;
            input {
                margin: 0;
                width: 66%;
                background: transparent;
                font-size: inherit;
                border: 1px solid $white;
                color: $white;
                &:focus {
                    outline-color: $bright-orange;
                    // outline-width: 1px;
                    // border-width: unset;
                }
            }
            button {
                width: auto;
                font-size: inherit;
                padding: 0.5rem 0.75rem;
                margin-right: 0;
            }
        }
        
        &:first-child {
            flex: 0 0 100%;
        }
        &:nth-child(2) {
            flex: 0 0 15%;
        }
        &:not(:first-child) {
            height: 6rem;
        }
    }
    
}