@import '../styles/globals.scss';

#contactForm {

    padding: $top-margin;
    font-size: 1rem;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: 0px 0px 1px 3px $lighter-blue;
    margin-top: $top-margin;

    input, textarea, button {
        margin: 1rem 0;
    }

    label {
        font-weight: bold;
        margin-bottom: .5rem;
    }

    .form-label {
        display: block;
        text-align: left;
    }

    input, textarea {
        border: 2px solid $light-blue;
        background: $lighter-blue;
        padding: 1rem;
        font-size: inherit;
        width: 100%;
        margin-bottom: 1rem; 
    }
    
    button {
        margin: $top-margin auto;
        padding-left: $vertical-rhythm;
        padding-right: $vertical-rhythm;
    }

}