@import '../styles/globals.scss';

#siteHeader {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    z-index: 1000;
    
    > div {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0.25rem auto;
    }

    #siteLogo {
        width: 100%;
        height: auto;
        // max-width: 30%;
    }

}