@import "../../styles/globals.scss";

#blogCallout.callout_section {
    background-color: $light-green;
    padding-bottom: $vertical-rhythm;
    .callout_section__container {
        width: 100%;
        padding: $content-padding;
        .callout_section__container--inner {
            .blog_post {
                padding-bottom: $top-margin;
            }
            .blog_post__callout--blog_post {
                color: $white;
            }
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    #blogCallout.callout_section {
        .callout_section__container {
            width: $content-width;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            .callout_section__container--inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .blog_post {
                    width: calc(33% - 1rem);
                }
            }
            
        }
    }
}