@import "../../styles/globals.scss";

#blogCallout {
    background-color: $light-green;
    padding-bottom: $vertical-rhythm;
    .calloutContainer {
        width: 100%;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    #blogCallout {
        .calloutContainer {
            width: $content-width;
            margin: 0 auto;
            .blogPost {
                width: calc(33% - 1rem);
            }
        }
    }
}