@import "../../styles/globals.scss";

.featuredCard {

    width: 66%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: $white;
    padding: 2.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .categories {
        @extend .normal-text;
    }

    .heading {
        text-align: center;
        margin: 0;
        @extend .heading-3;
    }

    .postMetaData {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @extend .normal-text;
        position: relative;
        margin-top: 1rem;
        text-align: center;
    
        .postMeta {
            flex-basis: 100%;
            text-align: center;
            display: inline;
            line-height: 1.5;
            padding: $content-padding;
        }

        .author {
            consumes: postMeta;
            padding-left: 0;
            &:before {
                content: '\2014';
                display: inline-block;
                margin: 0 8px;
            }
        }
    }

    

}

    
@media screen and (min-width: $mobile-breakpoint) {
        
    max-height: 26rem;

    .featuredCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 66%;
        margin: 0 auto;

        .heading {
            flex-basis: 100%;
            font-size: 3.125rem;
            line-height: 3.75rem;
        }

        .postMetaData {
            flex-wrap: nowrap;
            width: 100%;
            justify-content: center;
            .post-meta {
                flex-basis: auto;
            }
        }

    }

    .blog .featuredCard {
        position: absolute;
    }

}
   



