@import "../globals.scss";

/**
 * macro blog post styles
 */
.blogPost {
    // padding-bottom: $top-margin;
    // position: relative;
    .featuredImageContainer { 
        position: relative; 
        width: 100%;
    }
    .excerpt { font: $small-text; }
    // .callout { color: $white; }
}


@media screen and (min-width: $mobile-breakpoint) {
    .blog-index {
        .blogPost {
            width: calc(33% - 1rem);
        }
    }
}