@import "../globals.scss";

/**
 * I think these are the styles for the blog index page 
 */
.blog-content-container {
    + .blog-content-container {
        padding-top: 0;
    }
    @extend .blog-content-width;
    // padding: 2.5rem;
    box-sizing: border-box;
    // padding-bottom: $vertical-rhythm;
    padding: $top-margin 0;

    .blog-heading {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        > h5 {
            white-space: nowrap;
        }
        .barline {
            display: block;
            border-bottom: 2px solid $strong-blue;
            height: 2px;
            width: 66%;
            margin-left: 1rem;
        }
    }

    .blog-inner-container {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-post {

        width: calc(33% - 2.5rem);
        box-sizing: border-box;
        margin: 0 1.25rem 2.5rem;

        .featured-image { height: 13.75rem; }

        // .post-heading,
        // .post-excerpt {}

        .post-meta-data {
            display: flex;
            justify-content: space-between;
            .date {
                display: flex;
                align-items: center;
                flex-basis: 50%;
                .clock-icon {
                    max-height: 0.85rem;
                    display: inline-block;
                    margin-right: 0.5rem;
                }
            }
            
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        .blog-post {
            width: 100%;
        }
    }

}

