@import "../globals.scss";

/**
 * I think these are the styles for the blog index page 
 */
.blog-content-container {
    
    @extend .blog-content-width;
    box-sizing: border-box;
    padding: $top-margin 0;

    + .blog-content-container {
        padding-top: 0;
        border: $border;
    }

    .blog-inner-container {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }

}

