@import "../globals.scss";

.metaCard {
    // width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // z-index: 100;
    background: $white;
    padding: $top-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
    // height: 100%;
    // &.sticky {
    //     width: calc(100% - 1.5rem);
    // } 
    .categoriesContainer {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        position: relative;
        z-index: 111;   
        .categories {
            @extend .normal-text;
        }
        .category {
            text-transform: uppercase;
            position: relative;
            width: 100%;
            margin-left: .15rem;
            font-weight: normal;
            @extend .normal-text;
            > a {
                text-decoration: underline;
            }
            &:hover {
                cursor: pointer;
                > a {
                    text-decoration: none;
                }
                &:after {
                    background-color: transparent;
                }
            }
        } 
    }
    
    .postMeta {
        display: flex;
        justify-content: center;
        @extend .normal-text;
        .postDate,
        .postAuthor {
            display: inline-block;
        }
        .postAuthor {
            padding-left: 0;
            &:before {
                content: '\2014';
                display: inline-block;
                margin: 0 8px;
            }
        }
    }  
}

.blog-post {
    .metaCard {
        position: relative;
        left: 0%;
        top: 0%;
        transform: none;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .metaCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        &.sticky {
            width: 66%;
        }
        .postMeta {
            flex-wrap: nowrap;
            width: 100%;
            justify-content: center;
        }
    }
    
}