/**
 this page is for padding and margins of layout block features
 */ 

@import "../globals.scss";

.section_container {
    padding-bottom: $vertical-rhythm;
    padding-top: $vertical-rhythm;
    &:first-of-type { padding-top: 0; }
    + .section_container { padding-bottom: $vertical-rhythm; }
    &.section_container--grey { background-color: #f2f2f2 } 
    &.section_container--white { background-color: #fff; }
    
    .section_container__inner {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0 $margin-bottom 0;
        display: block;
        &.blog {
            padding: 0 0;
        }
    }

    .section_content {
        padding: 0 $margin-bottom;
    }

    &.services {
        justify-content: space-around;
    }
    &.online-ordering-system-restaurants {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &.blog {
        padding-top: 0;
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    .section_container {
        .section_container__inner {
            width: $content-width;

            &.page {
                &.about,
                &.home {
                    .section_content {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                }
            }
        }
    }
}
