
.theme_table {
    text-align: center;
    padding: $margin-bottom;
    overflow: scroll;
    table { 
        width: 100%; 
        border-collapse: collapse;
        border-spacing: 0;
    }
    th {
        background-color: $light-green;
        color: $white;
    }
    table, td, th {
        padding: 1rem;
        border: 2px solid $box-border;
    }
    tr:hover { background-color: $box-border; }
    figcaption {
        @extend .theme_ficaptions;
    }

}

@media screen and (min-width: $mobile-breakpoint) {
    .theme_table {
        overflow: auto;
        &.max_width_table {
            max-width: $hero-width;
        }
    }
}