@import "../../../styles/globals.scss"; 

.blogPost {
    padding-bottom: $top-margin;
    
    a[href] {
        text-decoration: none !important;
    }

    .featuredImageContainer { 
        position: relative; 
        width: 100%;
    }
    &.featuredPost {
        width: 100%;
        position: relative;
        z-index: 10;
        height: 100%;
    }
    .excerpt { font: $small-text; }
    .callout { color: $white; }
}

@media screen and (min-width: $mobile-breakpoint) {
    .blogPost {
        width: calc(33% - .75rem);
    }
}