@import "../../../styles/globals.scss";

.postMetaData {
    display: flex;
    justify-content: space-between;
    color: $strong-blue;

    &.callout { 
        color: $white; 
        .author,
        .date {
            color: inherit;
        }
    }

    .dateContainer {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        
        .clockIcon {
            max-height: 0.85rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}