@import "../../../styles/globals.scss";

.featuredImage {
    height: 13.75rem;
    width: 100%;
    margin-bottom: $margin-bottom;
    &.pageFeature {
        order: 1;
        height: 100%;
        max-width: 20rem;
        margin-top: $top-margin;
    }
    &.featuredFull {
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .featuredImage {
        &.pageFeature {
            height: auto;
            max-width: 20rem;
            float: left;
            width: 100%;
            margin: 0 $top-margin $top-margin 0;
        }
        &.featuredFull {
            height: 100%;
            width: 100%;
        }
    }
}